apiVersion: apps/v1
kind: Deployment
metadata:
  name: phpwordpress-new
  namespace: wordpress-new
spec:
  replicas: 2
  selector:
    matchLabels:
      app: phpwordpress-new
  template:
    metadata:
      labels:
        app: phpwordpress-new
    spec:
      containers:
      - name: httpd
        image: mightyleo/wordpress-new:1.0-31
        ports:
        - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: phpwordpress-new
  namespace: wordpress-new
spec:
  selector:
    app: phpwordpress-new
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: LoadBalancer

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: phpwordpress-new
  namespace: wordpress-new
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - phpwordpress.dotnet.displayme.net  # Your domain
    secretName: dotnet.displayme.net-ssl-wordpress
  rules:
  - host: phpwordpress.dotnet.displayme.net
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: phpwordpress-new
            port:
              number: 80
